<!DOCTYPE html>
<html>
    {% load staticfiles %}
    <head>
        <title>Strona główna </title>
        <meta name="viewport" content="width=device-width initial-scale=1.0" charset="UTF-8">
        <link href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css" rel="stylesheet">
    </head>

    <body>
        {% include "navbar.html" %}

        <div class="content">
            <div>
                Content
            </div>
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js"/>
    </body>
</html>

