<!DOCTYPE html>
<html>
<head>
    <title>Lista Szachow</title>
</head>
<body>
    {% include "navbar.html" %}
<div class="content">
    <table class="table table-hover">
        <thead>
            <td>Date</td>
            <td>Signature</td>
            <td>Content</td>
        </thead>
        <tbody>
            {% for szach in object_list %}
                <tr>
                <td>{{ szach.stamp }}</td>
                <td>{{ szach.signature }}</td>
                <td>{{ szach.content }}</td>
                </tr>
            {% empty %}
                <tr><td>No szachs yet</td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>